
<style media="screen">
  li { list-style-type: none; }
</style>
<ul>
  <h1>Create a Meme</h1>
<form action="/memes" method="POST">
  <li><h3><label for="title">Title: </label>
  <input type="text" name="title"><h3></li>
  <li><h3><label for="caption">Caption: </label>
  <input type="text" name="caption"><h3></li>
  <li><h3><label for="link">Link: </label>
  <input type="text" name="link"><h3></li>
  <input type="submit" name="Submit">
</form>
<ul>
